// ----- Font Import ----- //
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

// ----- Colors ----- //
$moderateViolet: hsl(263, 55%, 52%);
$darkGrayishBlue: hsl(217, 19%, 35%);
$darkBlackishBlue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$lightGray: hsl(0, 0%, 81%);
$lightGrayishBlue: hsl(210, 46%, 95%);

// ----- Media Queries ----- //

// ----- CSS Reset Properties ----- //

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: $lightGrayishBlue;
}

// ----- Typography ----- //

.font-white {
  color: $white;
}

.font-white-light {
  color: $white;
  opacity: 0.5;
}

.font-white-medium {
  color: $white;
  opacity: 0.7;
}

.font-dark {
  color: $darkBlackishBlue;
}

.font-dark-light {
  color: $darkBlackishBlue;
  opacity: 0.5;
}

.font-dark-medium {
  color: $darkBlackishBlue;
  opacity: 0.7;
}

// XL Heading
.heading-xl {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

// L Heading
.heading-l {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
}

// M Heading
.heading-m {
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  mix-blend-mode: normal;
  opacity: 0.5;
}

// Body
p {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  mix-blend-mode: normal;
}

// ----- Utilities ----- //

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    height: 100%;
  }
}
// Avatars
.avatar {
  border-radius: 50%;
  max-width: 1.75rem;
  max-height: 1.75rem;
}

.border-purple {
  border: 2px solid #a775f1;
}

// Card Background Properties
.bg-radius {
  border-radius: 8px;
}

.bg-purple {
  background-color: $moderateViolet;
}

.bg-grey {
  background-color: $darkGrayishBlue;
}

.bg-white {
  background-color: $white;
}

.bg-black {
  background-color: $darkBlackishBlue;
}

.box-shadow {
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}

.box-padding {
  padding: 1.625rem 2rem 2rem 2rem;
}

// Layout Properties
.testimonial-grid {
  padding: 2rem;
  display: grid;
  gap: 1.875rem;

  @media (min-width: 768px) {
    grid-auto-columns: 15.9375rem;
    grid-template-rows: 17.625rem 16.625rem;
    grid-template-areas:
      "one one two five"
      "three four four five";
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

// ----- Custom Styling ----- //

.info {
  margin-top: 1.125rem;

  h1 {
    margin-bottom: 1rem;
  }
}

.author {
  margin-left: 1.0625rem;

  h2 {
    margin-bottom: 0.125rem;
  }
}

// ----- Grid ----- //
@media (min-width: 768px) {
  .one {
    grid-area: one;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }

  .five {
    grid-area: five;
  }
}
