@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #ecf2f8;
}

.font-white {
  color: white;
}

.font-white-light {
  color: white;
  opacity: 0.5;
}

.font-white-medium {
  color: white;
  opacity: 0.7;
}

.font-dark {
  color: #19212e;
}

.font-dark-light {
  color: #19212e;
  opacity: 0.5;
}

.font-dark-medium {
  color: #19212e;
  opacity: 0.7;
}

.bg-image {
  background: url(./images/bg-pattern-quotation.svg);
  background-position: top right 5rem;
  background-repeat: no-repeat;
}

.heading-xl {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.heading-l {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
}

.heading-m {
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  mix-blend-mode: normal;
  opacity: 0.5;
}

p {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  mix-blend-mode: normal;
}

.center {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .center {
    height: 100%;
  }
}

.avatar {
  border-radius: 50%;
  max-width: 1.75rem;
  max-height: 1.75rem;
}

.border-purple {
  border: 2px solid #a775f1;
}

.bg-radius {
  border-radius: 8px;
}

.bg-purple {
  background-color: #7541c8;
}

.bg-grey {
  background-color: #48556a;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: #19212e;
}

.box-shadow {
  -webkit-box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
          box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}

.box-padding {
  padding: 1.625rem 2rem 2rem 2rem;
}

.testimonial-grid {
  padding: 1.5rem;
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  grid-auto-columns: 15.9375rem;
  -ms-grid-rows: 17.625rem 16.625rem;
      grid-template-rows: 17.625rem 16.625rem;
      grid-template-areas: "one one two five" "three four four five";
}

@media (max-width: 1170px) {
  .testimonial-grid {
    grid-auto-columns: auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "one one" "two five" "three five" "four four";
  }
}

@media (max-width: 425px) {
  .testimonial-grid {
    gap: 1.5rem;
        grid-template-areas: "one" "two" "three" "four" "five";
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info {
  margin-top: 1.125rem;
}

.info h1 {
  margin-bottom: 1rem;
}

.author {
  margin-left: 1.0625rem;
}

.author h2 {
  margin-bottom: 0.125rem;
}

.one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: one;
}

.two {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: two;
}

.three {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: three;
}

.four {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: four;
}

.five {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: five;
}
/*# sourceMappingURL=app.css.map */